.Footerbg{
    background-color: #263238;
}
.iconcolor {
    background-color: #31424b;
    border-radius: 50%;
}
.FooterPColor{
    color: #F5F7FA;
}
.footerInput{
    background-color: #626a6e;

}
.inputColor{
    color: #D9DBE1;
}