<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- ---------------------------------------------------Start navbar------------------------------------------- -->
    
    <section class="background">
  <div class="container-fluid pt-5">
    <div class="row align-items-center gx-5 gy-4 px-4">
      <div class="col-lg-6 text-white text-center text-md-start">
        <h2 class="fw-bold">
          The standard Lorem Ipsum passage, used since the 1500s
        </h2>
        <p class="ramadiColor">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#" class="linearcolor btn text-white py-3 px-5 mt-4 text-decoration-none border border-black">
          Discover More
        </a>

        <div class="d-flex justify-content-center justify-content-md-start gap-4 mt-5 flex-wrap">
          <div class="text-center text-md-start">
            <h3>300<span class="bluecolor fs-2 fw-bold">+</span></h3>
            <p class="ramadiColor">Happy<br />Client</p>
          </div>
          <div class="text-center text-md-start">
            <h3>900<span class="bluecolor fs-2 fw-bold">+</span></h3>
            <p class="ramadiColor">Happy<br />Client</p>
          </div>
          <div class="text-center text-md-start">
            <h3>20<span class="bluecolor fs-2 fw-bold">+</span></h3>
            <p class="ramadiColor">Happy<br />Client</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 text-center">
        <img src="assets/images/homeimg.png" class="w-100 img-fluid" alt="home image">
      </div>
    </div>
  </div>
</section>


    <!-- ---------------------------------------------------End navbar------------------------------------------- -->

<section class="mt-5 pb-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 col-md-6">
        <h3>What Make <br> UsDifferent?</h3>
        <p class="phome">On the other hand, we denounce with righteous indignation and
          <br> dislike men who are so beguiled and demoralized by the
          <br> charms</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4">
        <div class="p-4 pt-5 rounded-5 border border-2 bg-light mb-4">
          <span class="icon p-4 rounded-4 align-items-center mb-3">
            <i class="fa fa-heart-pulse" aria-hidden="true"></i>
          </span>
          <h6 class="fw-bold text-dark fs-5 mt-5">Lorem Ipsum</h6>
          <p>Lorem Ipsum is simply dummy text...</p>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="p-4 pt-5 rounded-5 border border-2 bg-light mb-4">
          <span class="icon p-4 rounded-4 align-items-center mb-3">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
          </span>
          <h6 class="fw-bold text-dark fs-5 mt-5">Lorem Ipsum</h6>
          <p>Lorem Ipsum is simply dummy text...</p>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="p-4 pt-5 rounded-5 border border-2 bg-light mb-4">
          <span class="icon p-4 rounded-4 align-items-center mb-3">
            <i class="fa fa-message" aria-hidden="true"></i>
          </span>
          <h6 class="fw-bold text-dark fs-5 mt-5">Lorem Ipsum</h6>
          <p>Lorem Ipsum is simply dummy text...</p>
        </div>
      </div>
    </div>
  </div>
</section>

    <!-- ---------------------------------------------------End AboutUs------------------------------------------- -->

    <section class="mt-3 pb-5">
  <div class="container position-relative sec3 py-4">
    <div class="row mt-5 mb-4">
      <div class="col-12 col-md-6">
        <h3>Our Excellent<br> Services?</h3>
        <p class="phome">
          On the other hand, we denounce with righteous indignation and 
          <br>dislike men who are so beguiled and demoralized by the
          <br>charms
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4">
        <div class="pt-5 mb-4">
          <img src="assets/images/img1.png" class="w-100" alt="">
          <h6 class="fw-bold text-dark fs-5 mt-4">Lorem Ipsum</h6>
          <p class="phome">Lorem Ipsum is simply dummy text of the Lorem Ipsum has been the industry's standard dummy text ever</p>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="pt-5 mb-4">
          <img src="assets/images/img2.png" class="w-100" alt="">
          <h6 class="fw-bold text-dark fs-5 mt-4">Lorem Ipsum</h6>
          <p class="phome">Lorem Ipsum is simply dummy text of the Lorem Ipsum has been the industry's standard dummy text ever</p>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="pt-5 mb-4">
          <img src="assets/images/img3.png" class="w-100" alt="">
          <h6 class="fw-bold text-dark fs-5 mt-4">Lorem Ipsum</h6>
          <p class="phome">Lorem Ipsum is simply dummy text of the Lorem Ipsum has been the industry's standard dummy text ever</p>
        </div>
      </div>
    </div>
  </div>
</section>


    <!-- ---------------------------------------------------End service------------------------------------------- -->


    <section class=" mb-3 pb-5 subColor">
        <div class=" container-fluid">
          <div class="row justify-content-center mt-5 text-center p-5">
            <div class="col-lg-6">
              <h4 class="bluecolor">SUBSCRIBE</h4>
              <h4 class="fw-bold">Subscribe to get the latest news about us</h4>
              <p class="pramadi">Please drop your email below to get daily update about what we do</p>
              <div class="w-100 justify-content-center subColor input-group border border-black rounded-3 flex-wrap">
                <input class=" w-75 p-2 border-0 form-control subColor" type="email" name="email" placeholder="Enter Your Email Adress">
                <button type="submit" class="btn bluecolorbg rounded-3 py-2 px-3 m-1">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
    </section>
  


</body>
</html>